@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,500&family=Signika:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header, .h1{
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}
p{
    font-size: 20px;
}
.pads{
    background: lightblue ;
    width: 100%;
    display: flex;
}
.pads > div{
    width: 100px;
    height: 100px;
    flex: 1;    
}
.pad1{
    background-color: green;
}
.pad2{
    background-color: red;
}
.pad3{
    background-color: orange;
}
.pad4{
    background-color: yellow;
}
.pad5{
    background-color: blue;
}
.pad6{
    background-color: cyan;
}

@keyframes jump{
    0%{
        left: 10%;
        bottom: 5%;
    }
    50%{
        left: 45%;
        bottom: 60%;
    }
    100%{
        left: 90%;
        bottom: 5%;
    }
}

.visual > div{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 16%;
    left: -10%;
    z-index: -1;
    overflow: hidden;
}